<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Railscast theme</string>
	<key>uuid</key>
	<string>7F8BA167-C3BF-44BD-9290-3512232B8F65</string>
</dict>
</plist>
